@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    display: block;
    margin: 0px;
}
:root{
    --primary-color:#10b981; 
}
.nav{
    display: flex;
    width:200px;
    height:100px;
    background-color: green;
}
.banana{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.navigation{
    background-color: var(--primary-color);
    color: black;
    padding: 1rem;
   
    text-align: center;

}
textarea{
    margin-top: 4rem;
    width: 80%;
    margin: 1rem;
    padding: 1rem;
    height: 15vh;
}

.button-35 {
    display: block;
    
    margin: auto;
    margin-bottom: 2rem;
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
    box-sizing: border-box;
    color: #121212;
    cursor: pointer;
    
    flex: 1 1 auto;
    font-family: Inter,sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1;
    margin-top: 1.5rem;
    
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s,-webkit-box-shadow .2s;
    white-space: nowrap;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-35:hover {
    box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
  }
  .output{
    align-items: center;
    justify-content: center;
    border: 2px solid #cbd5e1;
    border-radius: 1rem;
    margin: auto;
    margin-top: 3rem;
    width: 83%;
    height: 20vh;
  }
p{
    font-size: large;
}